{
  "openapi": "3.1.0",
  "info": {
    "title": "HH520 Stable V3.3 - GitHub Actions Bridge",
    "version": "3.3",
    "description": "Trigger HH520 Stable V3.3 prediction plus isolated Research/Shadow/Forward validation on GitHub Actions. Stable READY responses contain locked scenario-aware predictions; GPT is explanation-only."
  },
  "servers": [
    {
      "url": "https://api.github.com"
    }
  ],
  "security": [
    {
      "githubToken": []
    }
  ],
  "paths": {
    "/repos/ltaln/HH520-stable-V2/actions/workflows/hh520-predict.yml/dispatches": {
      "post": {
        "operationId": "startHH520Prediction",
        "summary": "Start one HH520 Stable V3.3 prediction run",
        "x-openai-isConsequential": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ref",
                  "inputs"
                ],
                "properties": {
                  "ref": {
                    "type": "string",
                    "enum": [
                      "main"
                    ],
                    "default": "main"
                  },
                  "inputs": {
                    "type": "object",
                    "required": [
                      "request_id",
                      "command"
                    ],
                    "properties": {
                      "request_id": {
                        "type": "string",
                        "pattern": "^[A-Za-z0-9_-]{8,80}$",
                        "description": "Generate a unique id, for example hh520-20260920-a1b2c3d4."
                      },
                      "command": {
                        "type": "string",
                        "description": "Use exactly: 预测 YYYY-MM-DD 全部比赛"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow dispatch accepted by GitHub Actions. GitHub may return workflow run metadata."
          },
          "204": {
            "description": "Workflow accepted by GitHub Actions."
          }
        }
      }
    },
    "/repos/ltaln/HH520-stable-V2/contents/results/{request_id}.json": {
      "get": {
        "operationId": "getHH520PredictionResult",
        "summary": "Read locked HH520 Stable V3.3 prediction result",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{8,80}$"
            }
          },
          {
            "name": "ref",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "action-results"
              ],
              "default": "action-results"
            },
            "description": "Always use action-results."
          },
          {
            "name": "poll",
            "in": "query",
            "required": true,
            "description": "Cache-busting token. Use a new value on every retry, for example 1, 2, 3.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,40}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Compact state/result JSON. status=PENDING means keep polling the same request_id; status=READY means render output_contract.display_rows as the strict 6-column Stable V3.3 table. The polling payload is intentionally compact to avoid ResponseTooLarge; full audit data is referenced by archive_path. Never require the legacy 9-column table.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "PENDING",
                        "READY",
                        "FAILED"
                      ]
                    },
                    "request_id": {
                      "type": "string"
                    },
                    "kind": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    },
                    "encoding": {
                      "type": "string"
                    },
                    "download_url": {
                      "type": "string"
                    },
                    "predictions": {
                      "type": "array",
                      "description": "Compact locked Stable V3.3 predictions sufficient for verification and explanation. Do not regenerate them.",
                      "items": {
                        "type": "object",
                        "additionalProperties": true,
                        "properties": {}
                      }
                    },
                    "output_contract": {
                      "type": "object",
                      "description": "Authoritative strict 6-column Stable V3.3 presentation contract. Never apply the legacy 9-column contract.",
                      "additionalProperties": true,
                      "properties": {
                        "version": {
                          "type": "string"
                        },
                        "stable_version": {
                          "type": "string"
                        },
                        "strict": {
                          "type": "boolean"
                        },
                        "required_columns": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Required output columns: 球队对阵, 胜平负场景, 市场概率, 比分×2及概率, 半全场×2及概率, 总进球及概率."
                        },
                        "display_rows": {
                          "type": "array",
                          "description": "Preformatted authoritative display rows for the strict 6-column Stable V3.3 table.",
                          "items": {
                            "type": "object",
                            "additionalProperties": true,
                            "properties": {}
                          }
                        },
                        "render_rule": {
                          "type": "string"
                        }
                      }
                    },
                    "display_rows": {
                      "type": "array",
                      "description": "Authoritative preformatted 6-column rows. Prefer this directly for user-visible rendering.",
                      "items": {
                        "type": "object",
                        "additionalProperties": true,
                        "properties": {}
                      }
                    },
                    "archive_path": {
                      "type": "string",
                      "description": "Path to the full audit JSON on action-results. Normal user-visible rendering must not fetch it."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Result is not ready yet. Retry this GET; do not dispatch a duplicate workflow."
          }
        },
        "description": "Read the Stable V3.3 result from the action-results branch. Supply request_id, ref=action-results, and a fresh poll token."
      }
    },
    "/repos/ltaln/HH520-stable-V2/actions/workflows/hh520-research.yml/dispatches": {
      "post": {
        "operationId": "startHH520Research",
        "summary": "Collect a date range for isolated Research Lab V1",
        "x-openai-isConsequential": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ref",
                  "inputs"
                ],
                "properties": {
                  "ref": {
                    "type": "string",
                    "enum": [
                      "main"
                    ],
                    "default": "main"
                  },
                  "inputs": {
                    "type": "object",
                    "required": [
                      "request_id",
                      "start_date",
                      "end_date"
                    ],
                    "properties": {
                      "request_id": {
                        "type": "string",
                        "pattern": "^[A-Za-z0-9_-]{8,80}$",
                        "description": "Generate a unique id, for example hh520-20260920-a1b2c3d4."
                      },
                      "start_date": {
                        "type": "string",
                        "format": "date"
                      },
                      "end_date": {
                        "type": "string",
                        "format": "date"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow dispatch accepted by GitHub Actions. GitHub may return workflow run metadata."
          },
          "204": {
            "description": "Workflow accepted by GitHub Actions."
          }
        }
      }
    },
    "/repos/ltaln/HH520-stable-V2/contents/{directory}/{request_id}.json": {
      "get": {
        "operationId": "getHH520ResearchResult",
        "summary": "Read isolated Research JSON without modifying Stable",
        "parameters": [
          {
            "name": "directory",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "results"
              ]
            }
          },
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{8,80}$"
            }
          },
          {
            "name": "ref",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "research-results"
              ],
              "default": "research-results"
            }
          },
          {
            "name": "poll",
            "in": "query",
            "required": true,
            "description": "Cache-busting poll token. Change on every GET for the same request_id, e.g. 1,2,3... Never reuse the same poll value.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,40}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Research state/result JSON. status=PENDING means keep polling the same request_id; status=READY means consume the research report; status=FAILED means stop and report failure.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "PENDING",
                        "READY",
                        "FAILED"
                      ]
                    },
                    "request_id": {
                      "type": "string"
                    },
                    "kind": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    },
                    "encoding": {
                      "type": "string"
                    },
                    "download_url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Result is not ready yet. Retry this GET; do not dispatch a duplicate workflow."
          }
        }
      }
    },
    "/repos/ltaln/HH520-stable-V2/contents/pages/{request_id}/manifest.json": {
      "get": {
        "operationId": "getHH520ResearchDetailManifest",
        "summary": "Read the paged Research detail manifest after READY",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{8,80}$"
            }
          },
          {
            "name": "ref",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "research-results"
              ],
              "default": "research-results"
            }
          },
          {
            "name": "poll",
            "in": "query",
            "required": true,
            "description": "Cache-busting token; change on every GET.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,40}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Small manifest listing bounded detail page paths.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {}
                }
              }
            }
          },
          "404": {
            "description": "Manifest is not ready yet."
          }
        }
      }
    },
    "/repos/ltaln/HH520-stable-V2/contents/pages/{request_id}/{page_file}": {
      "get": {
        "operationId": "getHH520ResearchDetailPage",
        "summary": "Read one bounded Research detail page",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{8,80}$"
            }
          },
          {
            "name": "page_file",
            "in": "path",
            "required": true,
            "description": "Use a filename returned by the manifest, for example error-1.json or signals-1.json.",
            "schema": {
              "type": "string",
              "pattern": "^(error|signals)-[1-9][0-9]*\\.json$"
            }
          },
          {
            "name": "ref",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "research-results"
              ],
              "default": "research-results"
            }
          },
          {
            "name": "poll",
            "in": "query",
            "required": true,
            "description": "Cache-busting token; change on every GET.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,40}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One bounded page of Research detail data.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {}
                }
              }
            }
          },
          "404": {
            "description": "Page does not exist."
          }
        }
      }
    },
    "/repos/ltaln/HH520-stable-V2/actions/workflows/hh520-shadow.yml/dispatches": {
      "post": {
        "operationId": "startHH520ShadowTest",
        "summary": "Run out-of-sample Shadow Test for frozen Research candidate rules",
        "x-openai-isConsequential": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ref",
                  "inputs"
                ],
                "properties": {
                  "ref": {
                    "type": "string",
                    "enum": [
                      "main"
                    ],
                    "default": "main"
                  },
                  "inputs": {
                    "type": "object",
                    "required": [
                      "request_id",
                      "discovery_request_id",
                      "validation_start",
                      "validation_end"
                    ],
                    "properties": {
                      "request_id": {
                        "type": "string",
                        "pattern": "^[A-Za-z0-9_-]{8,80}$",
                        "description": "Unique shadow-test request id."
                      },
                      "discovery_request_id": {
                        "type": "string",
                        "pattern": "^[A-Za-z0-9_-]{8,80}$",
                        "description": "Completed Research request id whose candidate rules must remain frozen."
                      },
                      "validation_start": {
                        "type": "string",
                        "format": "date"
                      },
                      "validation_end": {
                        "type": "string",
                        "format": "date"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow dispatch accepted by GitHub Actions. GitHub may return workflow run metadata."
          },
          "204": {
            "description": "Shadow Test workflow accepted by GitHub Actions."
          }
        }
      }
    },
    "/repos/ltaln/HH520-stable-V2/actions/workflows/hh520-forward.yml/dispatches": {
      "post": {
        "operationId": "startHH520ForwardTest",
        "summary": "Run forward validation for rules that passed Historical Shadow",
        "x-openai-isConsequential": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ref",
                  "inputs"
                ],
                "properties": {
                  "ref": {
                    "type": "string",
                    "enum": [
                      "main"
                    ],
                    "default": "main"
                  },
                  "inputs": {
                    "type": "object",
                    "required": [
                      "request_id",
                      "shadow_request_id",
                      "validation_start",
                      "validation_end"
                    ],
                    "properties": {
                      "request_id": {
                        "type": "string",
                        "pattern": "^[A-Za-z0-9_-]{8,80}$",
                        "description": "Unique forward-test request id."
                      },
                      "shadow_request_id": {
                        "type": "string",
                        "pattern": "^[A-Za-z0-9_-]{8,80}$",
                        "description": "Completed Shadow Test request id. Only SHADOW_PASS rules are eligible."
                      },
                      "validation_start": {
                        "type": "string",
                        "format": "date"
                      },
                      "validation_end": {
                        "type": "string",
                        "format": "date"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow dispatch accepted by GitHub Actions. GitHub may return workflow run metadata."
          },
          "204": {
            "description": "Forward Test workflow accepted by GitHub Actions."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "githubToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "Fine-grained GitHub personal access token with repository access to ltaln/HH520-stable-V2, Actions read/write, Contents read."
      }
    },
    "schemas": {}
  }
}