{
  "openapi": "3.1.0",
  "info": {
    "title": "HH520 Stable V2 - GitHub Actions Bridge",
    "version": "2.0",
    "description": "Trigger HH520 Stable V2 on GitHub Actions and read the prepared GPT handoff. No standalone server is required."
  },
  "servers": [
    {
      "url": "https://api.github.com"
    }
  ],
  "security": [
    {
      "githubToken": []
    }
  ],
  "paths": {
    "/repos/ltaln/HH520-stable-V2/actions/workflows/hh520-predict.yml/dispatches": {
      "post": {
        "operationId": "startHH520Prediction",
        "summary": "Start one HH520 prediction preparation run",
        "x-openai-isConsequential": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ref",
                  "inputs"
                ],
                "properties": {
                  "ref": {
                    "type": "string",
                    "enum": [
                      "main"
                    ],
                    "default": "main"
                  },
                  "inputs": {
                    "type": "object",
                    "required": [
                      "request_id",
                      "command"
                    ],
                    "properties": {
                      "request_id": {
                        "type": "string",
                        "pattern": "^[A-Za-z0-9_-]{8,80}$",
                        "description": "Generate a unique id, for example hh520-20260920-a1b2c3d4."
                      },
                      "command": {
                        "type": "string",
                        "description": "Use exactly: Ԥ�� YYYY-MM-DD ȫ������"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Workflow accepted by GitHub Actions."
          }
        }
      }
    },
    "/repos/ltaln/HH520-stable-V2/contents/results/{request_id}.json": {
      "get": {
        "operationId": "getHH520PredictionResult",
        "summary": "Read the prepared HH520 result after the workflow finishes",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{8,80}$"
            }
          },
          {
            "name": "ref",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "action-results"
              ],
              "default": "action-results"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.github.raw+json"
              ],
              "default": "application/vnd.github.raw+json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Prepared result JSON. Use gpt_handoff.prompt, gpt_handoff.config and all gpt_handoff.matches for final reasoning.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "404": {
            "description": "Result is not ready yet. Retry this GET; do not dispatch a duplicate workflow."
          }
        }
      }
    },
    "/repos/ltaln/HH520-stable-V2/actions/workflows/hh520-research.yml/dispatches": {
      "post": {
        "operationId": "startHH520Research",
        "summary": "Collect a date range for isolated Research Lab V1",
        "x-openai-isConsequential": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ref",
                  "inputs"
                ],
                "properties": {
                  "ref": {
                    "type": "string",
                    "enum": [
                      "main"
                    ],
                    "default": "main"
                  },
                  "inputs": {
                    "type": "object",
                    "required": [
                      "request_id",
                      "start_date",
                      "end_date"
                    ],
                    "properties": {
                      "request_id": {
                        "type": "string",
                        "pattern": "^[A-Za-z0-9_-]{8,80}$",
                        "description": "Generate a unique id, for example hh520-20260920-a1b2c3d4."
                      },
                      "start_date": {
                        "type": "string",
                        "format": "date"
                      },
                      "end_date": {
                        "type": "string",
                        "format": "date"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Workflow accepted by GitHub Actions."
          }
        }
      }
    },
    "/repos/ltaln/HH520-stable-V2/contents/{directory}/{request_id}.json": {
      "get": {
        "operationId": "getHH520ResearchResult",
        "summary": "Read isolated Research JSON without modifying Stable",
        "parameters": [
          {
            "name": "directory",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "results"
              ]
            }
          },
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{8,80}$"
            }
          },
          {
            "name": "ref",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "research-results"
              ],
              "default": "research-results"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.github.raw+json"
              ],
              "default": "application/vnd.github.raw+json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Research Lab report only. No automatic promotion into Stable.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "404": {
            "description": "Result is not ready yet. Retry this GET; do not dispatch a duplicate workflow."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "githubToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "Fine-grained GitHub personal access token with repository access to ltaln/HH520-stable-V2, Actions read/write, Contents read."
      }
    }
  }
}
