{
  "openapi": "3.1.0",
  "info": {
    "title": "HH520 Stable V2 - GitHub Actions Bridge",
    "version": "2.3",
    "description": "Trigger HH520 Stable V2 / Research on GitHub Actions and read compact state/results. Research READY responses are compact; detailed V3.0 outputs are available through bounded manifest/page endpoints."
  },
  "servers": [
    {
      "url": "https://api.github.com"
    }
  ],
  "security": [
    {
      "githubToken": []
    }
  ],
  "paths": {
    "/repos/ltaln/HH520-stable-V2/actions/workflows/hh520-predict.yml/dispatches": {
      "post": {
        "operationId": "startHH520Prediction",
        "summary": "Start one HH520 prediction preparation run",
        "x-openai-isConsequential": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ref",
                  "inputs"
                ],
                "properties": {
                  "ref": {
                    "type": "string",
                    "enum": [
                      "main"
                    ],
                    "default": "main"
                  },
                  "inputs": {
                    "type": "object",
                    "required": [
                      "request_id",
                      "command"
                    ],
                    "properties": {
                      "request_id": {
                        "type": "string",
                        "pattern": "^[A-Za-z0-9_-]{8,80}$",
                        "description": "Generate a unique id, for example hh520-20260920-a1b2c3d4."
                      },
                      "command": {
                        "type": "string",
                        "description": "Use exactly: 预测 YYYY-MM-DD 全部比赛"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Workflow accepted by GitHub Actions."
          }
        }
      }
    },
    "/repos/ltaln/HH520-stable-V2/contents/results/{request_id}.json": {
      "get": {
        "operationId": "getHH520PredictionResult",
        "summary": "Read the prepared HH520 result after the workflow finishes",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{8,80}$"
            }
          },
          {
            "name": "ref",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "action-results"
              ],
              "default": "action-results"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.github.raw+json"
              ],
              "default": "application/vnd.github.raw+json"
            }
          },
          {
            "name": "poll",
            "in": "query",
            "required": true,
            "description": "Cache-busting poll token. Change on every GET for the same request_id, e.g. 1,2,3... Never reuse the same poll value.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,40}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "State/result JSON. status=PENDING means keep polling the same request_id; status=READY means consume gpt_handoff; status=FAILED means stop and report failure.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "PENDING",
                        "READY",
                        "FAILED"
                      ]
                    },
                    "request_id": {
                      "type": "string"
                    },
                    "kind": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "gpt_handoff": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "content": {
                      "type": "string"
                    },
                    "encoding": {
                      "type": "string"
                    },
                    "download_url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Result is not ready yet. Retry this GET; do not dispatch a duplicate workflow."
          }
        }
      }
    },
    "/repos/ltaln/HH520-stable-V2/actions/workflows/hh520-research.yml/dispatches": {
      "post": {
        "operationId": "startHH520Research",
        "summary": "Collect a date range for isolated Research Lab V1",
        "x-openai-isConsequential": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ref",
                  "inputs"
                ],
                "properties": {
                  "ref": {
                    "type": "string",
                    "enum": [
                      "main"
                    ],
                    "default": "main"
                  },
                  "inputs": {
                    "type": "object",
                    "required": [
                      "request_id",
                      "start_date",
                      "end_date"
                    ],
                    "properties": {
                      "request_id": {
                        "type": "string",
                        "pattern": "^[A-Za-z0-9_-]{8,80}$",
                        "description": "Generate a unique id, for example hh520-20260920-a1b2c3d4."
                      },
                      "start_date": {
                        "type": "string",
                        "format": "date"
                      },
                      "end_date": {
                        "type": "string",
                        "format": "date"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Workflow accepted by GitHub Actions."
          }
        }
      }
    },
    "/repos/ltaln/HH520-stable-V2/contents/{directory}/{request_id}.json": {
      "get": {
        "operationId": "getHH520ResearchResult",
        "summary": "Read isolated Research JSON without modifying Stable",
        "parameters": [
          {
            "name": "directory",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "results"
              ]
            }
          },
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{8,80}$"
            }
          },
          {
            "name": "ref",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "research-results"
              ],
              "default": "research-results"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.github.raw+json"
              ],
              "default": "application/vnd.github.raw+json"
            }
          },
          {
            "name": "poll",
            "in": "query",
            "required": true,
            "description": "Cache-busting poll token. Change on every GET for the same request_id, e.g. 1,2,3... Never reuse the same poll value.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,40}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Research state/result JSON. status=PENDING means keep polling the same request_id; status=READY means consume the research report; status=FAILED means stop and report failure.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "PENDING",
                        "READY",
                        "FAILED"
                      ]
                    },
                    "request_id": {
                      "type": "string"
                    },
                    "kind": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    },
                    "encoding": {
                      "type": "string"
                    },
                    "download_url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Result is not ready yet. Retry this GET; do not dispatch a duplicate workflow."
          }
        }
      }
    },
    "/repos/ltaln/HH520-stable-V2/contents/pages/{request_id}/manifest.json": {
      "get": {
        "operationId": "getHH520ResearchDetailManifest",
        "summary": "Read the paged Research detail manifest after READY",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{8,80}$"
            }
          },
          {
            "name": "ref",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "research-results"
              ],
              "default": "research-results"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.github.raw+json"
              ],
              "default": "application/vnd.github.raw+json"
            }
          },
          {
            "name": "poll",
            "in": "query",
            "required": true,
            "description": "Cache-busting token; change on every GET.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,40}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Small manifest listing bounded detail page paths.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "404": {
            "description": "Manifest is not ready yet."
          }
        }
      }
    },
    "/repos/ltaln/HH520-stable-V2/contents/pages/{request_id}/{page_file}": {
      "get": {
        "operationId": "getHH520ResearchDetailPage",
        "summary": "Read one bounded Research detail page",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{8,80}$"
            }
          },
          {
            "name": "page_file",
            "in": "path",
            "required": true,
            "description": "Use a filename returned by the manifest, for example error-1.json or signals-1.json.",
            "schema": {
              "type": "string",
              "pattern": "^(error|signals)-[1-9][0-9]*\\.json$"
            }
          },
          {
            "name": "ref",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "research-results"
              ],
              "default": "research-results"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/vnd.github.raw+json"
              ],
              "default": "application/vnd.github.raw+json"
            }
          },
          {
            "name": "poll",
            "in": "query",
            "required": true,
            "description": "Cache-busting token; change on every GET.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,40}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One bounded page of Research detail data.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "404": {
            "description": "Page does not exist."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "githubToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "Fine-grained GitHub personal access token with repository access to ltaln/HH520-stable-V2, Actions read/write, Contents read."
      }
    },
    "schemas": {}
  }
}
